/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    font-family: 'Montserrat', sans-serif;
    color: #686a6f;
    font-weight: 600;
    font-size: 18px;
}
h1,
h2,
h3,
h4,
h5{
    color: white;
}
.line::after{
    display: block;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #686a6f;

    margin: 6px 0;
}
ul{
    list-style-type: none;
}


/* Main */
main{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-flow: row nowrap;
}

/* Navbar Left */
.nav-left{
    width: 25%;
    height: calc(100vh - 100px);
    padding: 1%;
    z-index: 9;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: black;
}
.nav-left .logo{
    height: 40px;
}
.nav-left .logo-small{
    display: none;
}
.nav-icon{
    height: 25px;
}
.nav-header{
    width: 100%;
}
.nav-main{
    width: 100%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
.nav-footer{
    width: 100%;
    overflow: hidden;
}
.add-playlist{
    margin: 15px 0;
}
.square{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #686a6f;
    color: black;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
}
.nav-profile img,
.download-app img{
    height: 18px;
}
.nav.left ul{
    margin: 10% 0;
    list-style: none;
}
.nav-left ul li{
    margin: 15px 0;
}
.nav-left ul li span,
.nav-left ul li img{
    vertical-align: middle;
}

/*Container Right */
.container-right{
    position: relative;

    width: 85%;
    padding-top: 120px;
    background-color: #141922;

    overflow-y: auto;
}
.nav-content{
    text-align: center;
}
.nav-content ul{
    list-style-type: none;
}
.nav-content ul li{
    display: inline-block;

    margin: 0 10px;
}
.nav-content ul li a{
    color: #686a6f;

    text-decoration: none;

    text-transform: uppercase;
}

/* Content Container */
.content-container{
    padding: 3%;
}
.content-container h2,
.content-container h3,
.content-container h5{
    margin: 20px 0;
}
.content-container h5{
    color: #686a6f;
}
.items-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.item{
    max-width: calc(((100% - 2%) - 10%) / 6);
    min-width: 100px;
    margin: 1%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}
.item-title,
.subtitle{
    text-align: center;
}
.item-img-wrap{
    position: relative;
    cursor: pointer;
}
.item-img-wrap:hover .overlay{
    visibility: visible;
}
.item-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: center;
}
.overlay {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 80px;
    color: white;
}

/* Upgrade Bar */
.upgrade-bar{
    position: fixed;
    z-index: 8;
    top: 0;
    right: 0;

    width: 100%;
    height: 80px;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: right;
    align-items: center;
}
.upgrade-button{
    display: inline-block;
    padding: 15px 50px;
    border: 1px solid white;
    border-radius: 30px;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


/* Footer */
footer{
    position: fixed;
    z-index: 10;

    width: 100%;
    height: 100px;
    background-color: #282828;
}


/* Player */
.player{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.left-player{
    width: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.now-playing{
    display: block;
    max-height: 75px;
    min-height: 35px;
    max-width: 75px;
    min-width: 35px;
    margin: 0 3%;
}
.now-playing-img{
    width: 100%;
}
.now-playing-desc{
    flex-grow: 1;
}
.now-playing-actions{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.now-playing-actions i{
    margin: 25%;
}
.center-player{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.player-actions{
    width: 50%;
    max-width: 1200px;
    height: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    color: white;
}
.player-actions .fa-play-circle{
    font-size: 30px;
}
.down-player{
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.progress-container{  
    position: relative;
    background-color: #686a6f;  
    border: 5px;  
    cursor: pointer;  
    height: 4px;  
    width: 70%;
    min-width: 100px;  
}
.progress{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;  
    border-radius: 5px;  
    height: 100%;  
    width: 20%; 
}
.right-player{
    width: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.right-player-actions{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.right-player-actions i{
    margin: 7%;
}

.volume-container{  
    position: relative;
    background-color: #686a6f;  
    border: 5px;  
    cursor: pointer;  
    height: 4px;  
    width: 50%;
    margin: 0 3%;
}
.volume{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;  
    border-radius: 5px;  
    height: 100%;  
    width: 20%; 
}

/* Media Screens */

@media screen and (max-width: 1100px){
    body{
        font-size: 15px;
    }
    .now-playing img{
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 700px){
    body{
        font-size: 10px;
    }
}

@media screen and (max-width: 600px){
    body{
        font-size: 8px;
    }
}

@media screen and (max-width: 599px ){
    body{
        font-size: 8px;
    }
    .nav-left{
        width: auto;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        text-align: center;
    }
    .nav-left .logo{
        display: none;
    }
    .nav-left .logo-small{
        display: block;
        height: 30px;
    }
    .nav-header{
        flex: 1;
    }
    .nav-header span{
        display: none;
    }
    .nav-main{
        display: none;
    }
    .nav-footer span{
        display: none;
    }
    .container-right{
        width: auto;
    }
    .line::after{
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: transparent;
    
        margin: 6px 0;
    }
}